@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  color: #555;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --color-pearl: #57e0ff;
  --color-pearl-dark: #4db5c9;
  --color-wood-light: #f0d9b5;
  --color-wood: #cdaa7d;
  --color-wood-dark: #8b6914;
  --board-width: min(95vw, 450px);
  --pearl-size: calc(var(--board-width) / 7 - 5%);
}

body {
  touch-action: pan-x pan-y;
  margin: 0;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  min-height: 100dvh;
  max-height: 100vh;
  max-height: 100dvh;
}
* {
  box-sizing: border-box;
}

#app {
  max-width: var(--board-width);
  margin: 0 auto;
  text-align: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  display: grid;
  grid-template-rows: 1fr repeat(2, 50px);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #ccc;
    background-color: #1a1a1a;
  }
}

header {
  position: absolute;
  left: 20px;
  & h1 {
    font-family: 'Herr Von Muellerhoff', cursive;
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: -0.05em;
    color: var(--color-pearl);
  }
}
.board {
  /* flex: 1; */
  align-self: center;
  padding: 2rem;
  box-sizing: border-box;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(7, 1fr);
  /* grid-auto-rows: 1fr; */
  /* grid-gap: 1rem;
  grid-gap: 3%; */
  row-gap: 0;
  column-gap: 0;
  gap: 1%;
  aspect-ratio: 1;
  border: 1px solid beige;
  background: var(--color-wood);
  border-radius: 50%;
  width: var(--board-width);
  max-width: var(--board-width);
  max-height: var(--board-width);
}

.pit {
  border-radius: 50%;
  width: 100%;
  aspect-ratio: 1;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 10%;
  box-shadow: inset 4px 4px 5px 2px var(--color-wood-dark);
}

.collection {
  pointer-events: none;
  align-items: flex-start;
  padding: 4px;
  gap: 4px;
  border-bottom: 3px solid var(--color-wood);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;

  & > * {
    flex: 0 0 var(--pearl-size);
    width: var(--pearl-size);
    max-width: var(--pearl-size);
    aspect-ratio: 1;
  }
}
